# Ignore personal device configuration
# Include example files
device_config/*
!device_config/example/

# Exclude python bytecode
**/__pycache__/

# Exclude virtual env
env/

# Exclude dotenv
.env

# Exclude application log(s)
*.log
**/logs/